-- MariaDB dump 10.17  Distrib 10.4.14-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: advocacia
-- ------------------------------------------------------
-- Server version	10.4.14-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `advogado`
--

DROP TABLE IF EXISTS `advogado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `advogado` (
  `cod_advogado` int(11) NOT NULL AUTO_INCREMENT,
  `nome_advogado` varchar(100) DEFAULT NULL,
  `oab` varchar(10) DEFAULT NULL,
  `data_criado` datetime DEFAULT NULL,
  `data_atualizado` datetime DEFAULT NULL,
  PRIMARY KEY (`cod_advogado`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advogado`
--

LOCK TABLES `advogado` WRITE;
/*!40000 ALTER TABLE `advogado` DISABLE KEYS */;
INSERT INTO `advogado` VALUES (1,'Taiz',NULL,'2020-06-14 15:01:07',NULL),(2,'Paulo',NULL,'2020-06-14 15:01:18',NULL);
/*!40000 ALTER TABLE `advogado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banco`
--

DROP TABLE IF EXISTS `banco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banco` (
  `cod_banco` int(11) NOT NULL AUTO_INCREMENT,
  `codigo_banco` int(11) DEFAULT NULL,
  `nome_banco` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cod_banco`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banco`
--

LOCK TABLES `banco` WRITE;
/*!40000 ALTER TABLE `banco` DISABLE KEYS */;
INSERT INTO `banco` VALUES (1,0,'N├úo Informado'),(2,33,'Santander'),(3,104,'Caixa'),(4,341,'Ita├║'),(5,260,'NuBank'),(6,550,'Banco Andromeda');
/*!40000 ALTER TABLE `banco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente` (
  `cod_cliente` int(11) NOT NULL AUTO_INCREMENT,
  `nome_cliente` varchar(100) DEFAULT NULL,
  `cpf` varchar(20) NOT NULL,
  `rg` varchar(15) NOT NULL,
  `cod_nacionalidade` int(11) NOT NULL,
  `email_cliente` varchar(100) NOT NULL,
  `cod_estado_civil` int(11) NOT NULL,
  `cod_profissao` int(11) NOT NULL,
  `cod_orgao_classe` int(11) NOT NULL,
  `cep` varchar(10) NOT NULL,
  `numero` varchar(20) NOT NULL,
  `complemento` varchar(50) NOT NULL,
  `endereco` varchar(255) NOT NULL,
  `bairro` varchar(255) NOT NULL,
  `cidade` varchar(255) NOT NULL,
  `uf` varchar(2) NOT NULL,
  `nome_pai` varchar(100) NOT NULL,
  `nome_mae` varchar(100) NOT NULL,
  `cod_banco` int(11) NOT NULL,
  `num_agencia` varchar(20) NOT NULL,
  `num_conta` varchar(20) NOT NULL,
  `cod_tipo_conta` int(11) NOT NULL,
  `descricao_cliente` text NOT NULL,
  `data_nascimento` date DEFAULT NULL,
  `data_criado` datetime DEFAULT NULL,
  `data_atualizado` datetime DEFAULT NULL,
  `files` text NOT NULL,
  `cnpj` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`cod_cliente`),
  KEY `cod_estado_civil` (`cod_estado_civil`),
  KEY `cod_nacionalidade` (`cod_nacionalidade`),
  KEY `cod_profissao` (`cod_profissao`),
  KEY `cod_orgao_classe` (`cod_orgao_classe`),
  KEY `cod_banco` (`cod_banco`),
  KEY `cod_tipo_conta` (`cod_tipo_conta`),
  CONSTRAINT `cliente_ibfk_1` FOREIGN KEY (`cod_estado_civil`) REFERENCES `estado_civil` (`cod_estado_civil`),
  CONSTRAINT `cliente_ibfk_2` FOREIGN KEY (`cod_nacionalidade`) REFERENCES `nacionalidade` (`cod_nacionalidade`),
  CONSTRAINT `cliente_ibfk_3` FOREIGN KEY (`cod_profissao`) REFERENCES `profissoes` (`cod_profissao`),
  CONSTRAINT `cliente_ibfk_4` FOREIGN KEY (`cod_orgao_classe`) REFERENCES `orgao_classe` (`cod_orgao_classe`),
  CONSTRAINT `cliente_ibfk_5` FOREIGN KEY (`cod_banco`) REFERENCES `banco` (`cod_banco`),
  CONSTRAINT `cliente_ibfk_6` FOREIGN KEY (`cod_tipo_conta`) REFERENCES `tipo_conta_banco` (`cod_tipo_conta`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_telefone`
--

DROP TABLE IF EXISTS `cliente_telefone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_telefone` (
  `cod_cliente_telefone` int(11) NOT NULL AUTO_INCREMENT,
  `cod_cliente` int(11) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`cod_cliente_telefone`),
  KEY `cod_cliente` (`cod_cliente`),
  CONSTRAINT `cliente_telefone_ibfk_1` FOREIGN KEY (`cod_cliente`) REFERENCES `cliente` (`cod_cliente`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_telefone`
--

LOCK TABLES `cliente_telefone` WRITE;
/*!40000 ALTER TABLE `cliente_telefone` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente_telefone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competencias`
--

DROP TABLE IF EXISTS `competencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `competencias` (
  `cod_competencia` int(11) NOT NULL AUTO_INCREMENT,
  `nome_competencia` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`cod_competencia`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competencias`
--

LOCK TABLES `competencias` WRITE;
/*!40000 ALTER TABLE `competencias` DISABLE KEYS */;
INSERT INTO `competencias` VALUES (1,'C├¡vel'),(2,'Fam├¡lia e Sucess├Áes'),(3,'Registros P├║blicos'),(4,'Inf├óncia e Juventude C├¡vel'),(5,'Acidente do Trabalho'),(6,'Juizado Especial C├¡vel'),(7,'Criminal'),(8,'Juizado Especial Criminal'),(9,'J├║ri'),(10,'Execu├º├úo Criminal');
/*!40000 ALTER TABLE `competencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado_civil`
--

DROP TABLE IF EXISTS `estado_civil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estado_civil` (
  `cod_estado_civil` int(11) NOT NULL AUTO_INCREMENT,
  `nome_estado_civil` varchar(50) DEFAULT NULL,
  `data_criado` datetime DEFAULT NULL,
  `data_atualizado` datetime DEFAULT NULL,
  PRIMARY KEY (`cod_estado_civil`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado_civil`
--

LOCK TABLES `estado_civil` WRITE;
/*!40000 ALTER TABLE `estado_civil` DISABLE KEYS */;
INSERT INTO `estado_civil` VALUES (1,'N├úo informado',NULL,NULL),(2,'Casado(a)',NULL,NULL),(3,'Divorciado(a)',NULL,NULL),(4,'Solteiro(a)',NULL,NULL);
/*!40000 ALTER TABLE `estado_civil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forma_pagamento`
--

DROP TABLE IF EXISTS `forma_pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forma_pagamento` (
  `cod_forma_pagamento` int(11) NOT NULL AUTO_INCREMENT,
  `nome_forma_pagamento` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`cod_forma_pagamento`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forma_pagamento`
--

LOCK TABLES `forma_pagamento` WRITE;
/*!40000 ALTER TABLE `forma_pagamento` DISABLE KEYS */;
INSERT INTO `forma_pagamento` VALUES (1,'Dinheiro'),(2,'Cartao');
/*!40000 ALTER TABLE `forma_pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `foros`
--

DROP TABLE IF EXISTS `foros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `foros` (
  `cod_foro` int(11) NOT NULL AUTO_INCREMENT,
  `nome_foro` varchar(50) DEFAULT NULL,
  `data_criado` datetime DEFAULT NULL,
  `data_atualizado` datetime DEFAULT NULL,
  PRIMARY KEY (`cod_foro`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `foros`
--

LOCK TABLES `foros` WRITE;
/*!40000 ALTER TABLE `foros` DISABLE KEYS */;
/*!40000 ALTER TABLE `foros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nacionalidade`
--

DROP TABLE IF EXISTS `nacionalidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nacionalidade` (
  `cod_nacionalidade` int(11) NOT NULL AUTO_INCREMENT,
  `nome_nacionalidade` varchar(100) DEFAULT NULL,
  `nacionalidade_feminina` varchar(100) DEFAULT NULL,
  `nacionalidade_masculino` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cod_nacionalidade`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nacionalidade`
--

LOCK TABLES `nacionalidade` WRITE;
/*!40000 ALTER TABLE `nacionalidade` DISABLE KEYS */;
INSERT INTO `nacionalidade` VALUES (1,'N├úo informado','N├úo informada','N├úo informado'),(2,'Argentina','Argentina','Argentino'),(4,'China',NULL,NULL),(5,'Brasil','Brasileira','Brasileiro');
/*!40000 ALTER TABLE `nacionalidade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orgao_classe`
--

DROP TABLE IF EXISTS `orgao_classe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orgao_classe` (
  `cod_orgao_classe` int(11) NOT NULL AUTO_INCREMENT,
  `nome_orgao_classe` varchar(100) DEFAULT NULL,
  `data_criado` datetime DEFAULT NULL,
  `data_atualizado` datetime DEFAULT NULL,
  PRIMARY KEY (`cod_orgao_classe`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orgao_classe`
--

LOCK TABLES `orgao_classe` WRITE;
/*!40000 ALTER TABLE `orgao_classe` DISABLE KEYS */;
INSERT INTO `orgao_classe` VALUES (1,'N├úo informado',NULL,NULL),(2,'OAB',NULL,NULL);
/*!40000 ALTER TABLE `orgao_classe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `processo`
--

DROP TABLE IF EXISTS `processo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `processo` (
  `cod_processo` int(11) NOT NULL AUTO_INCREMENT,
  `numero_processo` varchar(100) DEFAULT NULL,
  `grau_peticionamento` int(11) DEFAULT NULL,
  `tipo_acao` int(11) DEFAULT NULL,
  `cod_foro` int(11) DEFAULT NULL,
  `cod_competencia` int(11) DEFAULT NULL,
  `classe_processo` varchar(100) DEFAULT NULL,
  `dependencia` tinyint(1) DEFAULT 0,
  `segredo_justica` tinyint(1) DEFAULT 0,
  `gratuidade_justica` tinyint(1) DEFAULT 0,
  `preso` tinyint(1) DEFAULT 0,
  `liberdade_provisoria` tinyint(1) DEFAULT 0,
  `valor_acao` decimal(12,2) DEFAULT NULL,
  `data_distribuicao` date DEFAULT NULL,
  `data_criado` datetime DEFAULT NULL,
  `data_atualizado` datetime DEFAULT NULL,
  `assunto_principal` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cod_processo`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `processo`
--

LOCK TABLES `processo` WRITE;
/*!40000 ALTER TABLE `processo` DISABLE KEYS */;
INSERT INTO `processo` VALUES (1,NULL,2,3,1,1,'fasdfads',0,1,0,0,0,0.00,'0000-00-00','2020-06-14 14:15:25',NULL,'4234432'),(2,NULL,1,3,1,2,'classe processo',1,1,1,1,1,100.00,'2000-01-01','2020-06-14 14:17:12',NULL,'assunto principal');
/*!40000 ALTER TABLE `processo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profissoes`
--

DROP TABLE IF EXISTS `profissoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profissoes` (
  `cod_profissao` int(11) NOT NULL AUTO_INCREMENT,
  `nome_profissao` varchar(100) DEFAULT NULL,
  `data_criado` datetime DEFAULT NULL,
  `data_atualizado` datetime DEFAULT NULL,
  PRIMARY KEY (`cod_profissao`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profissoes`
--

LOCK TABLES `profissoes` WRITE;
/*!40000 ALTER TABLE `profissoes` DISABLE KEYS */;
INSERT INTO `profissoes` VALUES (1,'N├úo informado',NULL,NULL),(2,'Professor(a)',NULL,NULL),(3,'Advogado(a)',NULL,NULL),(4,'Cozinheiro(a)','2020-04-28 23:01:36',NULL);
/*!40000 ALTER TABLE `profissoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `relacao_foros_competencias`
--

DROP TABLE IF EXISTS `relacao_foros_competencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `relacao_foros_competencias` (
  `cod_relacao` int(11) NOT NULL AUTO_INCREMENT,
  `cod_foro` int(11) DEFAULT NULL,
  `cod_competencia` int(11) DEFAULT NULL,
  PRIMARY KEY (`cod_relacao`),
  KEY `cod_foro` (`cod_foro`),
  KEY `cod_competencia` (`cod_competencia`),
  CONSTRAINT `relacao_foros_competencias_ibfk_1` FOREIGN KEY (`cod_foro`) REFERENCES `foros` (`cod_foro`),
  CONSTRAINT `relacao_foros_competencias_ibfk_2` FOREIGN KEY (`cod_competencia`) REFERENCES `competencias` (`cod_competencia`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `relacao_foros_competencias`
--

LOCK TABLES `relacao_foros_competencias` WRITE;
/*!40000 ALTER TABLE `relacao_foros_competencias` DISABLE KEYS */;
INSERT INTO `relacao_foros_competencias` VALUES (1,1,1),(2,1,2),(3,1,3),(4,1,4),(5,1,5),(6,1,6),(7,1,7),(8,5,1),(9,5,2),(10,5,4);
/*!40000 ALTER TABLE `relacao_foros_competencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `relacao_orgao_classe_profissoes`
--

DROP TABLE IF EXISTS `relacao_orgao_classe_profissoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `relacao_orgao_classe_profissoes` (
  `cod_relacao` int(11) NOT NULL AUTO_INCREMENT,
  `cod_orgao_classe` int(11) DEFAULT NULL,
  `cod_profissao` int(11) DEFAULT NULL,
  PRIMARY KEY (`cod_relacao`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `relacao_orgao_classe_profissoes`
--

LOCK TABLES `relacao_orgao_classe_profissoes` WRITE;
/*!40000 ALTER TABLE `relacao_orgao_classe_profissoes` DISABLE KEYS */;
INSERT INTO `relacao_orgao_classe_profissoes` VALUES (1,1,1);
/*!40000 ALTER TABLE `relacao_orgao_classe_profissoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servico`
--

DROP TABLE IF EXISTS `servico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servico` (
  `cod_servico` int(11) NOT NULL AUTO_INCREMENT,
  `data_criado` datetime DEFAULT NULL,
  `cod_tipo_servico` int(11) DEFAULT NULL,
  `cod_tipo_processo` int(11) DEFAULT NULL,
  `cod_tipo_acao` int(11) DEFAULT NULL,
  `valor_servico` decimal(12,2) DEFAULT NULL,
  PRIMARY KEY (`cod_servico`),
  KEY `cod_tipo_processo` (`cod_tipo_processo`),
  KEY `cod_tipo_acao` (`cod_tipo_acao`),
  KEY `cod_tipo_servico` (`cod_tipo_servico`),
  CONSTRAINT `servico_ibfk_1` FOREIGN KEY (`cod_tipo_processo`) REFERENCES `tipo_processo` (`cod_tipo_processo`),
  CONSTRAINT `servico_ibfk_2` FOREIGN KEY (`cod_tipo_acao`) REFERENCES `tipo_acao` (`cod_tipo_acao`),
  CONSTRAINT `servico_ibfk_3` FOREIGN KEY (`cod_tipo_servico`) REFERENCES `tipo_servico` (`cod_tipo_servico`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servico`
--

LOCK TABLES `servico` WRITE;
/*!40000 ALTER TABLE `servico` DISABLE KEYS */;
/*!40000 ALTER TABLE `servico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servico_pagamento`
--

DROP TABLE IF EXISTS `servico_pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servico_pagamento` (
  `cod_servico_pagamento` int(11) NOT NULL AUTO_INCREMENT,
  `cod_servico` int(11) DEFAULT NULL,
  `numero_parcela` int(11) DEFAULT NULL,
  `data_vencimento` date DEFAULT NULL,
  `valor_parcela` decimal(12,2) DEFAULT NULL,
  `cod_forma_pagamento` int(11) DEFAULT NULL,
  `data_pago` date DEFAULT NULL,
  PRIMARY KEY (`cod_servico_pagamento`),
  KEY `cod_forma_pagamento` (`cod_forma_pagamento`),
  KEY `cod_servico` (`cod_servico`),
  CONSTRAINT `servico_pagamento_ibfk_1` FOREIGN KEY (`cod_forma_pagamento`) REFERENCES `forma_pagamento` (`cod_forma_pagamento`),
  CONSTRAINT `servico_pagamento_ibfk_2` FOREIGN KEY (`cod_servico`) REFERENCES `servico` (`cod_servico`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servico_pagamento`
--

LOCK TABLES `servico_pagamento` WRITE;
/*!40000 ALTER TABLE `servico_pagamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `servico_pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servico_parte`
--

DROP TABLE IF EXISTS `servico_parte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servico_parte` (
  `cod_servico_parte` int(11) NOT NULL AUTO_INCREMENT,
  `cod_parte` int(11) DEFAULT NULL,
  `nome_parte` varchar(50) DEFAULT NULL,
  `cod_servico` int(11) DEFAULT NULL,
  PRIMARY KEY (`cod_servico_parte`),
  KEY `cod_servico` (`cod_servico`),
  CONSTRAINT `servico_parte_ibfk_1` FOREIGN KEY (`cod_servico`) REFERENCES `servico` (`cod_servico`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servico_parte`
--

LOCK TABLES `servico_parte` WRITE;
/*!40000 ALTER TABLE `servico_parte` DISABLE KEYS */;
/*!40000 ALTER TABLE `servico_parte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_acao`
--

DROP TABLE IF EXISTS `tipo_acao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_acao` (
  `cod_tipo_acao` int(11) NOT NULL AUTO_INCREMENT,
  `nome_tipo_acao` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`cod_tipo_acao`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_acao`
--

LOCK TABLES `tipo_acao` WRITE;
/*!40000 ALTER TABLE `tipo_acao` DISABLE KEYS */;
INSERT INTO `tipo_acao` VALUES (1,'Alimentos'),(2,'Declaratoria');
/*!40000 ALTER TABLE `tipo_acao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_conta_banco`
--

DROP TABLE IF EXISTS `tipo_conta_banco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_conta_banco` (
  `cod_tipo_conta` int(11) NOT NULL AUTO_INCREMENT,
  `nome_tipo_conta` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cod_tipo_conta`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_conta_banco`
--

LOCK TABLES `tipo_conta_banco` WRITE;
/*!40000 ALTER TABLE `tipo_conta_banco` DISABLE KEYS */;
INSERT INTO `tipo_conta_banco` VALUES (1,'N├úo informado'),(2,'Conta-corrente'),(3,'Conta Poupan├ºa');
/*!40000 ALTER TABLE `tipo_conta_banco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_processo`
--

DROP TABLE IF EXISTS `tipo_processo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_processo` (
  `cod_tipo_processo` int(11) NOT NULL AUTO_INCREMENT,
  `nome_tipo_processo` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`cod_tipo_processo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_processo`
--

LOCK TABLES `tipo_processo` WRITE;
/*!40000 ALTER TABLE `tipo_processo` DISABLE KEYS */;
INSERT INTO `tipo_processo` VALUES (1,'C├¡vil'),(2,'Fazenda P├║blica');
/*!40000 ALTER TABLE `tipo_processo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_servico`
--

DROP TABLE IF EXISTS `tipo_servico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_servico` (
  `cod_tipo_servico` int(11) NOT NULL AUTO_INCREMENT,
  `nome_tipo_servico` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`cod_tipo_servico`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_servico`
--

LOCK TABLES `tipo_servico` WRITE;
/*!40000 ALTER TABLE `tipo_servico` DISABLE KEYS */;
INSERT INTO `tipo_servico` VALUES (1,'Consulta Juridica'),(2,'Assessoria Juridica');
/*!40000 ALTER TABLE `tipo_servico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_escavador`
--

DROP TABLE IF EXISTS `token_escavador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `token_escavador` (
  `access_token` text DEFAULT NULL,
  `refresh_token` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_escavador`
--

LOCK TABLES `token_escavador` WRITE;
/*!40000 ALTER TABLE `token_escavador` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_escavador` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-11-16 19:13:43
